<div class="col s10 m7">
  <div class="card horizontal">
    <div class="card-image">
        <img src="./../../assets/wineyard.jpeg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h5>Card title</h5>
        <p>I am a very simple card. I am good at containing small bits of information.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
<div class="col s10 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img src="./../../assets/wineyard.jpeg">
      </div>
      <div class="card-stacked">
        <h5 class="card-content">Card title</h5>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
