<create-post [settings]="settings"></create-post>  

<ul>
  <li *ngFor="let post of posts"> 
  <div class="col s10 m7">
    <div class="card horizontal" (click)="openModal1(post)">
      <div class="card-image">
          <img src="./../../assets/wineyard.jpeg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
            <div class="col s3">
                <h5 class="truncate">{{ post.title }}</h5>
            </div>
            <div class="col s3 right">
              <div class="col s3 right">
                  <a class="btn-floating btn-medium waves-effect waves-light pink darken-4"><i class="material-icons">email</i></a>
              </div>
              <div class="col s3 right">
                <a class="btn-floating btn-medium waves-effect waves-light pink darken-4"><i class="material-icons">comment</i></a>
              </div>
              <div class="col s3 right">
                  <a class="btn-floating btn-medium waves-effect waves-light pink darken-4"><i class="material-icons">thumb_up</i></a>
              </div>
            </div>
          </div>
          <p>{{ post.text }}</p>
        </div>
        <div class="card-action row">

        </div>
      </div>
    </div>
  </div>
  </li>
</ul>

<div id="modal1" class="modal" materialize="modal" [materializeParams]="model1Params" [materializeActions]="modalActions1">
    <div class="modal-content">
      <app-post [childTitle]="parentTitle"></app-post>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn-flat" (click)="closeModal1()">Close</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
