<!--<div *ngIf="posts">
  <div *ngFor="let post of posts">
    <div class="col s10 m7">
      <div class="card horizontal">
        <div class="card-image">
            <img src="./../../assets/wineyard.jpeg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>{{ post.title }}</h5>
            <p>{{ post.text }}</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<create-post [settings]="settings"></create-post>  
<app-post></app-post>