  <div class="row">
    <form class="col s12">
      <div class="row valign-wrapper">
        <div class="input-field col s3">
          <textarea maxlength="160" id="title" class="materialize-textarea"></textarea>
          <label for="title">Überschrift</label>
        </div>
        <div class="input-field col s5">
          <textarea maxlength="1500" id="textarea" class="materialize-textarea"></textarea>
          <label for="textarea">Beschreibung</label>
        </div>
        <div class="center-align">
          <div class="col small-padding">
            <a materialize="dropdown" class="btn-floating btn-large waves-effect waves-light blue" data-activates="location"><i class="material-icons">map</i></a>
          </div>
          <div class="col small-padding">
            <a materialize="dropdown" class="btn-floating btn-large waves-effect waves-light green" data-activates="grapes"><i class="material-icons">local_florist</i></a>
          </div>
            <div class="col small-padding">
            <a materialize="dropdown" class="btn-floating btn-large waves-effect waves-light red" data-activates="hashtags"><i class="material-icons">assistant_photo</i></a>
          </div>
          </div>
        <div class="col">
          <a class="waves-effect waves-light btn-large">Senden</a>
        </div>
      </div>
    </form>
  </div>

  <!-- Location Dropdown Structure -->
  <ul id='location' class='dropdown-content size-dropdown'>
    <li><a>regional</a></li>
    <li><a>national</a></li>
    <li><a>international</a></li>
  </ul>

  <!-- Location Dropdown Structure -->
  <ul id='grapes' class='dropdown-content size-dropdown '>
          <li *ngFor="let grape of settings.grapes">
            <a>{{ grape }}</a>
          </li>
  </ul>

  <!-- Location Dropdown Structure -->
  <ul id='hashtags' class='dropdown-content size-dropdown' >
      <li *ngFor="let hashtags of settings.hashtags">
          <a>{{ hashtags }}</a>
        </li>
  </ul>